<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinimalWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MinimalWeather.Properties.Settings>
            <setting name="primeraEjecucion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tipoUbicacion" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="ciudad" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="unidadTemperatura" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="unidadViento" serializeAs="String">
                <value>km/h</value>
            </setting>
        </MinimalWeather.Properties.Settings>
    </userSettings>
</configuration>